<!-- pages/home.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Barra de navegación -->
    <header class="encabezado">
        <!-- Menú de navegación -->
        <nav>
            <ul class="menu">
                <li><a href="/home">Home</a></li>
                <li><a href="/rutas">Rutas de viaje</a></li>
                <li><a href="/perfil">Perfil</a></li>
            </ul>
        </nav>

        <!-- Botón de cerrar sesión en la esquina superior derecha -->
        <a href="/" class="btn-close">Cerrar Sesión</a>
    </header>

    <h1>Bienvenido a Argos</h1>
    <p>Has ingresado al sistema con éxito.</p>
    
    <script src="/js/script.js"></script>
</body>
</html>
